<%- include('./includes/head.ejs') %>

    </head>

    <body>

        <div class="login-card-container">
            <div class="login-card" style="margin-top:80px;">
                <div class="login-card-logo">
                    <img src="./assets/img/general/logo.png" alt="logo">
                </div>
                <div class="login-card-header">
                    <h1>فرم ورود</h1>
                    <div>برای استفاده از پلتفرم وارد شوید ...</div>
                </div>
                <form class="login-card-form" action="/singin" method="post">
                    <div class="form-item">
                        <span class="form-item-icon material-symbols-rounded">mail</span>
                        <input type="text" placeholder="ایمیل" id="email" name="email" autofocus required
                            value="<%= oldItemSIN.email %>">
                    </div>

                    <% if(errors && errors.email) { %>
                        <span style="color:red;font-size: 13px;">
                            <%= errors.email.msg %>
                        </span>
                        <% } %>

                    <div class="form-item">
                        <span class="form-item-icon material-symbols-rounded" onclick="showPass()">lock</span>
                         <input type="password" placeholder="کلمه عبور" id="password" name="password" required
                          value="<%= oldItemSIN.password %>" minlength="8">
                    </div>

                    <% if(errors && errors.password) { %>
                        <span style="color:red;font-size: 13px;">
                            <%= errors.password.msg %>
                        </span>
                    <% } %>

                        <button type="submit">ورود</button>
                        <a href="/singinOTP" style="background: #28292b; color: white;" >ورود از طریق رمز یکبار مصرف </a>
                </form>
                <div class="login-card-footer">
                    حساب کاربری ندارید؟ <a href="/singup">حساب جدید بسازید.</a>
                </div>
            </div>
        </div>
        <script>
            const pass = document.querySelector('#password');
            function showPass() {
                if (pass.type === 'password') {
                    pass.type = 'text';
                } else {
                    pass.type = 'password';
                }

            }

        </script>
    </body>

    </html>