<%- include('./includes/head.ejs') %>

<title>SinginOTP / Abolgazl Ghaderi</title>

    </head>

    <body>



        <div class="login-card-container">
            <div class="login-card" style="margin-top:80px;">
                <div class="login-card-logo">
                    <img src="./assets/img/general/logo.png" alt="logo">
                </div>
                <% if (!step2) {%>
                    <% if (errSinginOTP[0]) { %>
                        <script>
                        
                         Swal.fire(
                            'Not Found',
                            '<%= errSinginOTP[0] %>',
                            'error',
                            'Ok'
                        )
                       </script>
                       <% } %>
                <div class="login-card-header">
                    <h1>فرم ورود</h1>
                    <div>برای استفاده از پلتفرم وارد شوید ...</div>
                </div>

                <form class="login-card-form" action="/singinOTP" method="post">
                    <div class="form-item" dir="rtl">
                        <span class="form-item-icon material-symbols-rounded">email</span>
                        <input type="email" placeholder="ایمیل" id="email" name="email"
                           required  value="<%= oldItemSINOTP.email %>">
                    </div>
                    <% if(errors && errors.email) { %>
                        <span  style="color:red;font-size: 13px;">
                            <%= errors.email.msg %>
                        </span>
                    <% } %>

                        <button type="submit">دریافت رمز یکبار مصرف</button>
                        <a href="/singin" style="background: #28292b; color: white;" >ورود از طریق پسورد </a>
                       
                </form>

                <div class="login-card-footer" >
                    حساب کاربری ندارید؟ <a href="/singup">حساب جدید بسازید.</a>
                </div>
                <% } %>

                <% if (step2) {%>
                    
                    <div class="login-card-header">
                        <h1>تایید کد</h1>
                        <div>کد یکبار مصرف ارسال شده به ایمیل خود  را وارد کنید</div>
                    </div>
    
                    <form class="login-card-form" action="/singinOTP" method="post">
                        <div class="form-item" dir="rtl">
                            <span class="form-item-icon material-symbols-rounded">code</span>
                            <input type="text" placeholder="کد را وارد کنید" id="otp" name="otp"
                               required minlength="5" maxlength="5">
                               <input type="hidden" id="email" name="email" value="<%= item %>">
                        </div>
                        
                        <% if(error) { %>
                            <span  style="color:red;font-size: 13px;">
                                <%= error %>
                            </span>
                        <% } %>
    
                            <button type="submit" style="background-color: rgb(12, 215, 32); color: white;">تایید</button>
                            <a href="/singinotp" style="background: #28292b; color: white;" >برگشت به صفحه ورود</a>
                           
                    </form>
    
                    <div class="login-card-footer" >
                        حساب کاربری ندارید؟ <a href="/singup">حساب جدید بسازید.</a>
                    </div>
                 <% } %>
            </div>
        </div>

    </body>

    </html>