<%- include('./includes/head.ejs') %>

</head>

<body>
    

    <div class="login-card-container">
        <div class="login-card">
            <div class="login-card-logo">
                <img src="./assets/img/general/logo.png" alt="logo">
            </div>
            <div class="login-card-header">
                <h1>فرم ثبت نام</h1>
                <div>اطلاعات خود را با دقت وارد کنید !</div>
                <br>
                
            </div>

            <div class="err" >

                
            </div>

            <form class="login-card-form" action="/singup" method="post">
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">link</span>
                    <input type="text" placeholder="نام کاربری" id="userName" name="userName" minlength="3"
                    autofocus required value="<%= oldItemSUP.userName %>" >


                </div>
                <% if(errors && errors.userName) { %>
                    <span  style="color:red;font-size: 13px;">
                        <%= errors.userName.msg %>
                    </span>
                <% } %>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">mail</span>
                    <input type="email" placeholder="ایمیل" id="email" name="email"
                     required value="<%= oldItemSUP.email %>">

                </div>
                <% if(errors && errors.email) { %>
                    <span  style="color:red;font-size: 13px;">
                        <%= errors.email.msg %>
                    </span>
                <% } %>
                <div class="form-item" dir="rtl">
                    <span class="form-item-icon material-symbols-rounded">phone</span>
                    <input type="text" placeholder="تلفن همراه" id="phoneNumber" name="phoneNumber"
                      minlength="11"maxlength="11" required  value="<%= oldItemSUP.phoneNumber %>">

                </div>
                <% if(errors && errors.phoneNumber) { %>
                    <span  style="color:red;font-size: 13px;">
                        <%= errors.phoneNumber.msg %>
                    </span>
                <% } %>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded" onclick="showPass()">lock</span>
                    <input type="password" placeholder="کلمه عبور" id="password" name="password"
                     required minlength="8" value="<%= oldItemSUP.password %>">

                </div>
                <% if(errors && errors.password) { %>
                    <span  style="color:red;font-size: 13px;">
                        <%= errors.password.msg %>
                    </span>
                <% } %>


                <button type="submit">ثبت نام</button>
            </form>
            <div class="login-card-footer">
                   <a href="/singin"> قبلا ثبت نام کردید؟ </a>
            </div>
        </div>

    </div>
   
    <script>
        const pass = document.querySelector('#password');
        function showPass() {
            if (pass.type === 'password') {
                pass.type = 'text';
            } else {
                pass.type = 'password';
            }

        }

    </script>
</body>

</html>